.DS_Store
*.conf
*.db-shm
*.db-wal
*.state
*.log
*.db
*.token
deps
tts
www
custom_components/*/__pycache__
.storage
.cloud
vs.code-workspace
.vscode
ip_bans.yaml
secrets.yaml
zones.yaml